@CHARSET "UTF-8";

/** header icons **/
.icon-32-copyall    { background-image: url(../images/icon-32-copyall.png); }
.icon-32-googleall  { background-image: url(../images/icon-32-googleall.png); }
.icon-32-parse      { background-image: url(../images/icon-32-search.png); }
.icon-32-history    { background-image: url(../images/icon-32-history.png); }
.icon-32-changes    { background-image: url(../images/icon-32-changes.png); }
.icon-32-restore    { background-image: url(../images/icon-32-restore.png); }

.icon-48-missingt   { background-image: url(../images/icon-48-missingt.png); }

textarea.no-trans {
	background-color:pink;
}

form.component-strings tr.file-section td {
	background-color:lightgrey;
}

td.buttons img {
	clear:both;
	margin-bottom:10px;
}

table#files-translations tr.missing td {
	background-color:pink;
}

.lg-refresh {
	float:none;
}